@page "/Cobros/Delete/{CobrosId:int}"
@rendermode InteractiveServer
@inject CobrosService cobrosService
@inject NavigationManager navigation
@inject IJSRuntime JSRuntime

<PageTitle>Eliminar Cobro</PageTitle>

<div class="container mt-5">
    <div class="card p-4 shadow-lg">
        <div class="card-header">
            <h5 class="card-title text-center mb-4  text-black p-2 rounded">Eliminar Cobro</h5>
        </div>

        <div class="card-body">
            <div class="list-details">
                <table class="list-group">
                    @*Cobro Id*@
                    <li class="list-group-item">
                        <strong> Cobro Id:</strong> @cobros.CobrosId
                    </li>

                    @*Fecha*@
                    <li class="list-group-item">
                        <strong>Fecha:</strong> @cobros.Fecha.ToString("dd/MM/yyyy")
                    </li>


                    @*Monto*@
                    <li class="list-group-item">
                        <strong>Monto Cobrado:</strong> @cobros.Monto.ToString("N2")
                    </li>

                    @*Deudor*@
                    <li class="list-group-item">
                        <strong>Deudor:</strong> @cobros.Deudores?.Nombres
                    </li>
                </table>
            </div>

            <div>
                <h5><strong>¿Seguro que deseas Eliminar el Cobro Seleccionado?</strong></h5>
            </div>
        </div>


        <div class="card-footer">
            <a href="/Cobros/Index" class="btn btn-secondary text-white bi bi-arrow-left"> Volver</a>
            <button type="button" class="btn btn-primary bi bi-trash" @onclick="Eliminar"> Eliminar</button>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int CobrosId { get; set; }
    public Cobros cobros { get; set; } = new Cobros();

    protected override async Task OnInitializedAsync()
    {
        cobros = await cobrosService.Buscar(CobrosId);
    }
    public async Task Eliminar()
    {
        var Eliminar = await cobrosService.Eliminar(cobros.CobrosId);
        if (Eliminar)
        {
            Console.WriteLine("Se ha eliminado correctamente el Prestamo");
            navigation.NavigateTo("/Cobros/Index");
        }
        else
        {
            Console.WriteLine("No se ha podido eliminar el Cobro");
        }
    }
}
