@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, This is your Loan Registry!</h1>

<h5><strong>Ing:</strong> Wilmer Miguel Castillo Tejada</h5>
<h5><strong>Matr&iacute;cula: </strong> 2022-0266</h5>
