@page "/Registro/Index"
@rendermode InteractiveServer
@inject NavigationManager navigation

<PageTitle>Registro</PageTitle>
<div class="container">
	<div class="card shadow-lg">

		<div class="card-header">
			<h5 class="card-title">Registro</h5>
		</div>
		<div class="card-body">
			<a href="#" class="btn btn-primary"	<span class=" bi bi-plus-square-fill mt-3"></span> Crear</a>
			<table class="table table-dark table-hover">
				<thead class="table table-striped ">
					<tr>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center">
						<a href="#"
						   class="btn btn-primary">
							<span class="bi bi-plus-square mt-3"></span> Crear
						</a>
						<td class="text-center">
							<a href="#" class="btn bi bi-eye"></a>
						</td>
						<td class="text-center">
							<a href="#" class="btn bi bi-pencil-square"></a>
						</td>
						<td class="text-center">
							<a href="#" class="btn bi bi-trash"></a>
						</td>

						<a href="#"
						   class="btn btn-primary">
							<span class="bi bi-floppy mt-3"></span> Guardar
						</a>
						<a href="#"
						   class="btn btn-primary">
							<span class="bi bi-arrow-left mt-3"></span> Volver
						</a>
					</tr>
				</tbody>

			</table>
		</div>
		<div class="card-footer">
		</div>

	</div>
</div>
@code {

}
